<div class="div_musicas">
    <h2>{{this.cargo}}</h2>
    <hr>
    <p><strong>Empresa: </strong> {{this.empresa}}</p>
    {{#if this.descricao}}
        <p><strong>Descrição: </strong>{{this.descricao}}</p>
    {{else}}
        <p>Não há descrição</p>
    {{/if}}
    <form action="/user/experience/delete/{{this.id}}" method="post">
        <button type="submit">Deletar</button>
    </form>
    <form action="/user/experience/update/{{this.id}}" method="get">
        <button type="submit">Atualizar</button>
    </form>
</div> 