<a href="/pet/{{this.id}}" class="div_musicas">
    <h1>{{this.nome}}</h1>
    <h3>{{this.tipo}}</h3>
    <div class="container-forms">
        <form action="/pet/delete/{{this.id}}" method="post">
            <button type="submit">Deletar</button>
        </form>
        <form action="/pets/update/{{this.id}}" method="get">
            <button type="submit">Atualizar</button>
        </form>
    </div>
</a>